:root {
  --primary: #B43E8F;
  --secondary: #A9F0D1;
  --dark: #290628;
  --light: #D3C2CE;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  color: var(--dark);
  height: 100vh;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.container {
  max-width: 1000px;
  width: 100%;
  max-height: 100%;
  height: 100%;
  background-size: cover;
}

.navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  
}

.navbar nav {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: var(--secondary);
  font-weight: bold;
  text-decoration: none;
  position: relative;
}


.navbar a:hover {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  
}

.navbar a.active {
  color: var(--secondary);
}

.logo img {
  color: var(--light);
  font-weight: bold;
  height: 3rem;
  width: 4rem;
  position: absolute;
  top: 0.5rem;
  left: 5rem;
}

.hero {
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .container {
  padding: 11rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
}

.hero .hero-text {
  color: var(--secondary);
  font-size: 2.5rem;
}

.hero .hero-paragraph {
  color: var(--light);
  font-size: 2rem;
}

.hero .hero-buttons {
  display: flex;
  gap: 1rem;
}

.hero .hero-buttons a {
  padding: .5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.hero .hero-buttons .cta {
  background-color: var(--primary);
  color: var(--light);
}

.hero .hero-buttons .noncta {
  border: 1px solid var(--secondary);
  color: var(--light);
}

.hero img {
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

section h1 {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 2rem;
  color: var(--dark);
}

.about-text h3 {
  font-size: 1.5rem;
  color: var(--dark);
}

.about-text p {
  font-size: 1.2rem;
  color: rgb(87, 85, 85);
}

.about .container {
  display: flex;
}

.about img {
  height: 400px;
  max-width: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 4rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  height: 50vh;
}

.project {
  flex-basis: calc(33.33% - 0.5rem);
  max-width: calc(33.33% - 1rem);
  position: relative;
}

.project:hover .overlay {
  opacity: 1;
}

.project:hover img {
  opacity: 0.6;
}

img {
  display: block;
  width: 100%;
  height: 40vh;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.overlay h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.overlay a {
  color: #fff;
  text-decoration: underline;
}

.contact {
  background-color: var(--secondary);
  color: var(--dark);
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  margin-top: -2rem;
}

.contact .container h3 {
  text-align: center;
  font-style: italic;
}
.contact form {
  display: flex;
  gap: .5rem;
  flex-direction: column;
  width: 40vw;
  border-radius: 10px;
}

.contact form input, .contact form textarea {
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  outline: 0;
}

.contact form textarea, .contact form textarea::placeholder {
  font-family: sans-serif;
  height: 40vh;
}

.contact form button {
  padding: .5rem;
  background-color: var(--dark);
  color: var(--light);
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.8rem;
}